[submodule "katananodling"]
	path = katananodling
	url = https://github.com/MrLixm/katananodling
	branch = main
[submodule "lllogger"]
	path = lllogger
	url = https://github.com/MrLixm/llloger
	branch = main
[submodule "luabased"]
	path = luabased
	url = https://github.com/MrLixm/luabased
	branch = main
[submodule "luakat"]
	path = luakat
	url = https://github.com/MrLixm/luakat
	branch = main
